doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/ejercicio-pug.css")
		title PlatziGames
	body
		header
			h1 PlaziGames 
			a.boton(href="#") Registro 
		section.intro
			div.intro__imagen: img(src="https://static.platzi.com/media/tmp/class-files/git/platzi-games-pug-publico/platzi-games-pug-publico-clase-1-sintaxis/images/imagen.png", alt="img sin nada")
			.intro__contenido
				h2 Titulo Principal
				p
					| Lorem ipsum dolor sit ametconsecteturadipisicing elit.  Distinctio reiciendis 
					
					span.
						velit aliquid magnam 	eaque a beatae facere 	expedita facilis 	pariatur.
				a.boton Leer más

